<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <title>Amazeriffic</title>
</head>
<body>
    <header class="header">
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">Amazeriffic</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Login</a></li>
                <li><a href="faq.html">Вио</a></li>
                <li><a href="#">Техподдержка</a></li>
              </ul>
            </div>
          </nav>
    </header>
    <div class="content">
        <div class="content-text">
            <h1>Amazeriffic изменит вашу жизнь!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente beatae veritatis, libero non dolores tempora laudantium doloremque neque expedita minima, similique rerum accusamus quidem perferendis ut magni deleniti nulla perspiciatis.</p>
            <ul>
                <li>Some text</li>
                <li>Some text</li>
                <li>Some text</li>
            </ul>
        </div>

        <div class="logo">
            <img  src="https://image.freepik.com/free-vector/_74855-5220.jpg" class="z-depth-5">
            
            
        </div>
        <div class="block"><button class="btn btn-center">Перейти</button></div>
        
    </div>
    <div class="tabs-container">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a href="#test-swipe-1" data-par="new">Новые</a></li>
        <li class="tab col s3"><a class="active" href="#test-swipe-2" data-par="old">Старые</a></li>
        <li class="tab col s3"><a href="#test-swipe-3">Добавить</a></li>
      </ul>
      <div id="test-swipe-1" class="col s12 blue lighten-4 size">
        <ul class="newTodos"></ul>
      </div>
      <div id="test-swipe-2" class="col s12  red lighten-4 size"><ul class="oldTodos"></ul></div>
      <div id="test-swipe-3" class="col s12 green lighten-4 size">
        <div class="block"></div>

        <form action="">
          <input type="text" class="col s6 white text-area">
        </form>



      </div>

    </div>
    




    
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Домой</a></li>
                  <li><a class="grey-text text-lighten-3" href="selectopractice.html">О нас</a></li>
                  <li><a class="grey-text text-lighten-3" href="fizzbuzz.html">FizzBuzz</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Техподдержка</a></li>
                  <li><a class="grey-text text-lighten-3" href="/gallary">Flickr</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Вакансии</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>

        <script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="script/js.js" type="text/javascript"></script>
</body>
</html>